<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Magic Online-Shop</title>
</head>
<body>
  <header>
    <h1>Bienvenido a mi sitio web</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/api">Link a la API</a></li>
        <li><a href="asking_api.ejs">Pregunta a la api</a></li>

      </ul>
    </nav>
  </header>
  
  <main>
    <section>
      <h2>Últimas noticias</h2>
    </section>
    
    <section>
      <h2>Productos destacados</h2>
    </section>
  </main>
  
  <footer>
    <p>&copy; 2023 Mi sitio web. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
